.dress {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.dress .item {
    flex: 1 1 30%;
    margin: 10px;
}

.dress .img {
    width: 100%;
    height: 300px;

}

.dress info {
    font-size: 10px;
}

.skeleton {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.skeleton li {
    flex: 1 1 30%;
    margin: 10px;
}

.skeleton .skitelist {
    width: 100%;
    height: 300px;
    border: 1px solid #808080;
}

.skeleton .skeinfo {
    margin-top: 10px;
    width: 130px;
    height: 50px;
    border: 1px solid #808080;
}